<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rappitest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".RappiTestApp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RappiTest">
        <activity
            android:name=".ui.ui.VideoPlayerActivity"
            android:screenOrientation="landscape"
            android:parentActivityName=".ui.ui.DetallePelicula"
            android:exported="false" />

        <activity
            android:name=".ui.ui.Home"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTreme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ui.DetallePelicula"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RappiTestActionBar"
            android:parentActivityName=".ui.ui.Home" />
    </application>

</manifest>